<h1>Welcome <%= @user.first_name %>, </h1>
  <p>
    You have successfully signed up to the SEC Alumni Tracker,
    your login ID is: <%= @user.email %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>